* {
margin: 0;
padding: 0;
}

.wrapper {
	font-size: 16px;
	color: #000;
}
.main-header {
	width: 100%;
	padding: 15px;
	background-color:#000;
	color: #fff;
	box-sizing: border-box;
	display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    color: #fff;
}
.main-header__menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.main-header__menu-left li,
.main-header__menu--authorization li {
	display: inline-block;
    justify-content: center;
	align-items: center;
	list-style: none;
	padding: 10px;
	font-size: 20px;

}

.main-header__menu--authorization {
    display: flex;
    align-items: center;
}
.main-header__menu--authorization a {
	color: #fff;
	text-decoration: none;

}

.main-header__menu-left li:hover,
.main-header__menu--authorization li:hover,
.main-header__menu--authorization a:hover {
	color: gray;
	cursor: pointer;
}


.main-header__menu-left > li {
	position: relative;
	display: inline-block;
}

.main-header__menu-left a  {
	text-decoration: none;
}
.main-header__menu-left--submenu {
	display: none;
	position: absolute;
	top: 40px;
	left:0px;
	padding: 0px;
	width: 230px;
	border-radius: 15px;
	color: #fff;
	z-index: 1000;
	border: 1px solid #000;
}
.main-header__menu-left--submenu li {
	list-style: none;
	padding: 10px;
	box-sizing: border-box;
}
.main-header__menu-left--submenu a {
	text-decoration: none;
	color: #000;
}
.main-header__menu-left li:hover .main-header__menu-left--submenu {
	display: block;
	z-index: 1000;
	color: #fff;
	background: #fff;
}
.main-header__menu--search-input {
	border-radius:5px;
	padding: 15px 10px;
}
.main-header__menu--search-btn {
	background: none;
	border:1px solid green;
	border-radius:5px;
	padding: 15px 10px;
	box-sizing: border-box;
	color: #fff;
}
.main-header__menu--search-btn:hover {
	cursor: pointer;
}
.main-header__menu--search input {
	margin: 5px;
	box-sizing: border-box;
}
.main-header__information {
	width: 80%;
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 30px;
	border-bottom: 1px solid #000;
}
.main-header__information-h1 {
	color: #000;
	font-size: 35px;
	padding: 20px;
}
.main-header__information-p {
	color: gray;
	font-size: 20px;
	padding: 15px;
}
.main-header__information--btn {
	text-decoration: none;
	color: #fff;
	background: green;
	border-radius: 5px;
	padding: 15px;
	margin: 15px;
}
.main-header__information--btn:hover {
	cursor: pointer;
}

.main {
	width: 80%;
	padding: 30px 20px;
	margin: 0 auto;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.main-news,
.main-contentinformation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	padding: 30px 20px;
	margin: 0 auto;
	align-items: flex-start;
	border-bottom: 1px solid #000;
}
.tiles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 20px;
}
.tiles * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tiles__item {
	flex-basis: calc(100/3*1%);
	max-width: calc(100/3*1%);
	width: calc(100/3*1%);
	min-width: calc(100/3*1%);
	text-align: center;
	position: relative;
	padding-bottom: 50px;
}
.tiles__item:nth-child(3n+1) {
	padding-right: 10px;
}
.tiles__item:nth-child(3n+2) {
	padding-right: 10px;
	padding-left: 10px;
}
.tiles__item:nth-child(3n) {
	padding-left: 10px;
}
.tiles__item-image {
	width: 120px;
	max-width: 100%;
	font-style: 0;
	margin: 0 auto;
}
.tiles__item-image img {
	max-width: 100%;
	max-height: 100%;
}
.tiles__item-title {
	font-size: 30px;
	padding: 10px;
}
.tiles__item-text {
	font-size: 18px;
	padding: 10px;
	max-width: 100%;
}
.tiles__item-action {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

/* Buttons styles */

.btn {
	text-decoration: none;
	outline: none;
	transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
}
.btn--default {
	border: 1px solid #000;
	border-radius: 10px;
	padding: 10px;
	width: 15%;
	padding: 10px;
	color: #000;
}
.btn--default:hover {
	background-color: #000;
	color: #fff;
}
.main-contentinformation__foto {
	width: 48%;
}
.main-contentinformation__foto img {
	width: 100%;
	height: 70%;
	padding: 20px;
}
.main-contentinformation__infa {
	width: 48%;
	font-size: 16px;
	padding: 20px;
	box-sizing: border-box;
	text-align: left;
}
.main-contentinformation__infa--h {
	font-size: 30px;
	padding: 10px;

}
.main-contentinformation__infa--h:hover {
	color: gray;
}
.main-contentinformation__infa--p {
	padding: 10px;
}
.footer {
	width: 100%;
	padding: 15px;
	background-color:#000;
	color: #fff;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.footer-titles {
	padding: 15px;
	font-size: 18px;

}