* {
margin: 0;
padding: 0;
}

.wrapper {
	font-size: 16px;
	color: #000;
}
.main-header {
	width: 100%;
	padding: 15px;
	background-color:#000;
	color: #fff;
	box-sizing: border-box;
	display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    color: #fff;
}
.main-header__menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.main-header__menu-left li,
.main-header__menu--authorization li {
	display: inline-block;
    justify-content: center;
	align-items: center;
	list-style: none;
	padding: 10px;
	font-size: 20px;

}
.main-header__menu--authorization {
    display: flex;
    align-items: center;
}
.main-header__menu--authorization a {
	color: #fff;
	text-decoration: none;

}

.main-header__menu-left li:hover,
.main-header__menu--authorization li:hover,
.main-header__menu--authorization a:hover {
	color: gray;
	cursor: pointer;
}
.main-header__menu-left > li {
	position: relative;
	display: inline-block;
}

.main-header__menu-left a  {
	text-decoration: none;
}
.main-header__menu-left--submenu {
	display: none;
	position: absolute;
	top: 40px;
	left:0px;
	padding: 0px;
	width: 230px;
	border-radius: 15px;
	color: #fff;
	z-index: 1000;
	border: 1px solid #000;
}
.main-header__menu-left--submenu li {
	list-style: none;
	padding: 10px;
	box-sizing: border-box;
}
.main-header__menu-left--submenu a {
	text-decoration: none;
	color: #000;
}
.main-header__menu-left li:hover .main-header__menu-left--submenu {
	display: block;
	z-index: 1000;
	color: #fff;
	background: #fff;
}
.main-header__menu--search-input {
	border-radius:5px;
	padding: 15px 10px;
}
.main-header__menu--search-btn {
	background: none;
	border:1px solid green;
	border-radius:5px;
	padding: 15px 10px;
	box-sizing: border-box;
	color: #fff;
}
.main-header__menu--search-btn:hover {
	cursor: pointer;
}
.main-header__menu--search input {
	margin: 5px;
	box-sizing: border-box;
}
.main {
	min-height: 700px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.main-forma {
	border: 1px solid #000;
	padding: 20px;
	font-size: 18px;
	color: #000;
	margin: 10% auto;
	border-radius: 5px;
}
.main-forma td {
	padding: 10px;
	font-size: 20px;
}
.main-forma__td {
	min-width: 200px;
}
.main-forma__tdzero {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 15px;
}
.main-forma__tdzero:hover {
	cursor: pointer;
}
.main-forma__entrance {
	padding: 10px 15px;
	font-size: 18px;
	border-radius: 5px;
	background: none;
	border: 1px solid #000;
	margin:  5% auto;
	display: flex;
	align-items: center;
}
.btn-default {
	padding: 10px 15px;
	font-size: 18px;
	border-radius: 5px;
	background: none;
	border: 1px solid #000;
	margin:  5% auto;
	display: flex;
	align-items: center;
}
.main-forma__entrance:hover {
	cursor: pointer;
}
.footer {
	width: 100%;
	padding: 15px;
	background-color:#000;
	color: #fff;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.footer-titles {
	padding: 15px;
	font-size: 18px;

}